body {
	background: #ece7e7;
}
.currentPrice {
	flex: 5 0 0;
	text-align: center;
	align-content: center;
	font-size: 5rem;

	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
	&.is-success {
		background-color: $success;
	}
	&.is-danger {
		background-color: $danger;
	}
	&.is-warning {
		background-color: $warning;
	}
}
.currentScore {
	flex: 1 0 0;
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
}
